<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorExample</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-rain" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list" aria-hidden="true"></span> Todos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BMI">
                <span class="oi oi-calculator" aria-hidden="true"></span> BMI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddCat">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Cats
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CatsOverview">
                <span class="oi oi-list" aria-hidden="true"></span> All Cats
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CodeBehind">
                <span class="oi oi-list" aria-hidden="true"></span> Code Behind
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ExternalTodo">
                <span class="oi oi-list" aria-hidden="true"></span> External Todos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
